Thumbs.db
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.cachefile
*.aps
*.pch
*.sdf
*.opensdf
*.ipch
*.vspscc
*.vssscc
bin/
obj/
bld/
log/
*.ilk
*.meta
*.obj
*.pdb
*.exp
*.lib
*.dll
*.exe
*.app
Debug/
DebugPublic/
Release/
Releases/
x64/
x86/
.vs/
.vscode/
*.vcxproj.filters
rezultati.txt
*.txt
